$black: #131313;
$grey900: #383838;
$grey800: #787f85;
$grey700: #959da3;
$grey600: #acb3b9;
$grey500: #c1c6cb;
$grey400: #cdd2d7;
$grey300: #dadee2;
$grey200: #eef0f4;
$grey100: #f7f9fb;
$white: #ffffff;

$blueHover: #175098;
$blue: #0d7ad9;
$lightBlue: #a6cef1;
