@use "styles/colors.scss" as colors;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 320px;
}

@media (min-width: 1440px) {
  .app {
    min-width: 1440px;
  }
}
