@use "styles/colors.scss" as colors;
// @use "styles/fonts.scss";

.search-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__content,
  &__selections,
  &__filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__header-text {
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .search-form {
    width: 1440px;
    padding: 0px 120px;
    gap: 40px;

    &__filters {
      flex-direction: row;
      width: 692px;
      flex-wrap: nowrap;
      gap: 32px;
    }

    &__selections {
      flex-direction: row;
    }

    &__button {
      align-self: flex-end;
    }
  }
}
