@use "styles/colors.scss" as colors;

.link {
  width: fit-content;

  &__a {
    height: 20px;

    font-size: 16px;
    line-height: 23.2px;
    color: colors.$blue;
    text-decoration: none;

    border-bottom: 1px solid rgba(colors.$blue, 0.2);
  }
}
